body {
    background: #F3EFE0;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', 'sans-serif';
}

#id {
    background: #F3EFE0;
}

.container {
    padding: 40px 180px;
}

h3 {
    font-size: 28px;
}

h2, h3 {
    font-size: 54px;
    text-align: center;
    font-weight: 300;
    color: #22A39F;
}

hr {
    margin: 40px 0px;
    border-color: #727878;
    opacity: 0.2;
    filter: alpha(opacity=20);
}


footer {
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #434242;
    padding-bottom: 25px;
}

.firstLetter:first-letter {
    color: #22A39F;
    font-size: 50px;
    line-height: 1em;
}